@CHARSET "UTF-8";

#facets {
	background-color: white;
	overflow: auto;
	padding: 4px;
	border: 2px solid;
	/* border: 2px solid lightgrey; */
	border-image: linear-gradient(to bottom, #EEEEEE 0%, #AAAAAA 100%);
	/* -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%); */
	border-image-slice: 1;
	box-shadow: 4px 4px 2px #CCCCCC;
	box-sizing: border-box;
	
	margin-right: 0.5em;
}

.facetType {
	width: 100%;
}

.facetListsDiv {
	width: 100%;
}

.facetTypeList {
	width:100%;
	padding: 1em;
	box-sizing: border-box;
}

.rootFacetTypeList {
	padding: 0; /* No padding for root type list */
}

.facetTypeListElement {
	width: 100%;
}

.facetAttributeList {
	padding-left :1em;
}

.facetAttributeValueList, .facetAttributeRangeList {
	padding-left: 1em;
}

.attributeExpander {
	width: 0px;
	height: 0px;
	display: inline-block;
	box-sizing: border-box;
	
	/* TODO center otherwise? display-table/vertical-align?*/
	margin-bottom: 0.1em;
	margin-right: 0.2em;
	margin-left: 0.3em;
}

.attributeExpanderExpanded {
	border-left: 0.30em solid transparent;
	border-top: 0.5em solid #404040;
	border-right: 0.30em solid transparent;
	border-radius: 2px;
}

.attributeExpanderCollapsed {
	border-top: 0.30em solid transparent;
	border-left: 0.5em solid #404040;
	border-bottom: 0.30em solid transparent;
	border-radius: 2px;
}

.attributeTitleDiv {
	width: 100%;
	margin-top: 0.1em;
	border-bottom: 1px solid #EEEEEE;
}

.attributeTitle {
	font-family: serif;
	font-weight: bold;
}

.attributeValueCheckbox {
}

.attributeValueElement {
}

.attributeValueExpander {
	width: 0px;
	height: 0px;
	display: inline-block;
	box-sizing: border-box;
	
	/* TODO center otherwise? display-table/vertical-align?*/
	margin-bottom: 0.1em;
	margin-right: 0.1em;
	margin-left: 0.15em;
}

.attributeValueExpanderExpanded {
	border-left: 0.20em solid transparent;
	border-top: 0.4em solid #404040;
	border-right: 0.20em solid transparent;
	border-radius: 1px;
}

.attributeValueExpanderCollapsed {
	border-top: 0.20em solid transparent;
	border-left: 0.4em solid #404040;
	border-bottom: 0.20em solid transparent;
	border-radius: 1px;
}

.typeTitleDiv {
	/* background-color: #CCCCFF; */
	/* background-color: LightBlue; */
	background-color: #CCBEFC; /* #C3B2FE; // #B7A3FE; */
	width: 100%;
	margin-bottom: 1px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 2px;
}
/* http://www.cssportal.com/css3-shapes/ */
.typeExpander {
	width: 0px;
	height: 0px;
	display: inline-block;
	box-sizing: border-box;
	
	/* TODO center otherwise? display-table/vertical-align?*/
	margin-bottom: 0.05em;
	margin-right: 0.2em;
	margin-left: 0.3em;
}

.typeExpanderExpanded {
	border-left: 0.35em solid transparent;
	border-top: 0.6em solid #404040;
	border-right: 0.35em solid transparent;
	border-radius: 2px;
}

.typeExpanderCollapsed {
	border-top: 0.35em solid transparent;
	border-left: 0.6em solid #404040;
	border-bottom: 0.35em solid transparent;
	border-radius: 2px;
}

.typeTitle  {
	display: inline-block;
	padding-top: 0.2em;
	padding-left: 0.2em;
	padding-bottom: 0.2em;
	font-family: serif;
	font-weight: bold;
	font-size: 1.1em;
}

.facetsAccordion {
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
	-o-transition: height 0.5s;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
	overflow: hidden;
	padding: 0;
}

