@CHARSET "UTF-8";

.facetType {
	background-color: LightGrey;
}
.typeTitle  {
	background-color: #AAAA77;
	border: 1px;
	border-color: black;
}

.facetsAccordion {
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
	-o-transition: height 0.5s;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
	overflow: hidden;
	padding: 0;
}

