@CHARSET "UTF-8";

#fulltextAndFacets {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;

	margin-right: 1em;
	
	height: 100%;
}

#fulltextDiv {
	margin: 0.5em;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

#fulltextInput {
	vertical-align: middle;
	width: 70%;
}

#fulltextButton {
	font-size: 1.1em;
	vertical-align: middle;
}

#gallery {
	border : 1px solid black;
}

.galleryRowDiv {
/*	
	border : 1px solid black;
	background-color : yellow;
*/
}

.galleryItem {
	border : 1px solid black;
	margin : 3px;
	box-shadow: 2px 2px 1px #777777;
}

.provisonalImage, .thumbnailImage {

	border 1px solid #EEEEEE;
	box-shadow: 3px 3px 1px #AAAAAA;
	box-sizing: border-box;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 4px;
	margin-bottom: 4px;	
}

