@CHARSET "UTF-8";

#fulltextAndFacets {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;

	margin-right: 1em;
	
	height: 100%;
}

#fulltextDiv {
	margin-left: 0.5em;
	width: 100%;
	height: 15%;
}

.infoRow {
	width: 100%;
}

#fulltextRow {
	padding-top: 0.3em;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 0.7em;
	
	position: relative;
}

#fulltextInput {
	width: 40%;
	vertical-align: middle;
}

#fulltextButton {
	font-size: 1.1em;
	vertical-align: middle;
}

#viewLogin {
	/*
	writing-mode:vertical-lr;
	text-orientation: upright;
	display: inline;
	font-size: 0.7em;
	*/
	position: absolute;
	top: 0.5em; /* TODO - not aligned to search fields*/
	right: 1em;
	vertical-align: middle;
	
	border: 1px solid #777777;
	box-sizing: border-box;
	padding: 0.1em;
	border-radius: 0.2em;
}

#resultsRow {
	padding-top: 0.3em;
	width: 100%;
	position: relative;
}

#numberOfItemsDiv {
	display : inline;
	margin-right: 2em;
}

#sortListBox {
	position: absolute;
	right: 2em;
}

#facets {
	height : 85%;
	overflow: scroll;
}

#gallery {
	border : 1px solid black;
}

.galleryRowDiv {
/*	
	border : 1px solid black;
	background-color : yellow;
*/
}

.galleryItem {
	border : 1px solid black;
	margin : 3px;
	box-shadow: 2px 2px 1px #777777;
}

.provisonalImage, .thumbnailImage {

	border 1px solid #EEEEEE;
	box-shadow: 3px 3px 1px #AAAAAA;
	box-sizing: border-box;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 4px;
	margin-bottom: 4px;	
}

